<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>After checkout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .alert-wrapper {
            width: 100%;
        }
        .alert-wrapper>div {
            padding: 12px;
            color: whitesmoke;
            font-weight: 600;
            font-size: 18px;
        }
        .alert-wrapper .success {
            background-color: #14cb14;
        }
        .alert-wrapper .pending {
            background-color: #eeea1e;
            color: #1a1a1a;
        }
        .alert-wrapper .danger {
            background-color: #f12409;
        }
    </style>
</head>
<body>
    <div class="container text-center px-5">
        <p class="order-id fs-3">#{{ order_id }}</p>
        <p class="va-payment fs-4">Virtual account: {{ payment_code }}</p>
        <button id="check-btn" class="btn btn-primary">Cek status pembayaran</button>
        <div class="alert-wrapper mt-2 px-5"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        let socket = io('https://finpay-test-socket.yukbil.my.id');
        const payment = {
            order_id: '{{ order_id }}',
            status: 'PENDING',
            updated: false
        }
        socket.on('connect', function() {
            socket.emit('client_connection', {data: 'I\'m connected!', id: socket.id});
        });

        socket.on('update_payment_status', function (data) {
            if (data.order.id !== '{{order_id}}') return
            payment.updated = true
            payment.status = data.status
            if (document.visibilityState === 'visible') {
                if (payment.status === 'PENDING') alertPending('Pembayaran masih dalam proses')
                if (payment.status === 'PAID') alertSuccess('Pembayaran berhasil')
                if (payment.status === 'DECLINE') alertCancel('Pembayaran dibatalkan')
                payment.updated = false
            }
        })

        const checkButton = document.querySelector('#check-btn')
        checkButton.addEventListener('click', function (e) {
            e.preventDefault()
            fetch('{{ url_for("check") }}?order_id={{order_id}}')
                .then(res => res.json())
                .then(data => {
                    const status = data.status
                    if (status === 'PENDING') alertPending('Pembayaran masih dalam proses')
                    if (status === 'PAID') alertSuccess('Pembayaran berhasil')
                })
                .catch(e => console.log("Err:",e))
        })

        const alert = document.querySelector('.alert-wrapper')
        function alertPending(msg) {
            alert.innerHTML = `<div class="pending">${msg}</div>`
        }
        function alertSuccess(msg) {
            alert.innerHTML = `<div class="success">${msg}</div>`
            Swal.fire({
                icon: 'success',
                title: 'Payment success',
                text: 'Terima kasih telah melakukan pemesanan disini.',
                showConfirmButton: false,
                timer: 1700
            })
        }
        function alertCancel(msg) {
            alert.innerHTML = `<div class="danger">${msg}</div>`
        }

        document.addEventListener('visibilitychange', function() {
            if (document.visibilityState === 'visible' && payment.updated) {
                payment.updated = false
                if (payment.status === 'PENDING') alertPending('Pembayaran masih dalam proses')
                if (payment.status === 'PAID') alertSuccess('Pembayaran berhasil')
                if (payment.status === 'DECLINE') alertCancel('Pembayaran dibatalkan')
            }
        });
    </script>
</body>
</html>