<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        form {
            margin: auto auto;
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        @media (max-width: 1024px) {
            form {
                width: 90%;
            }
        }
    </style>
</head>
<body>
    <form action="/payment" method="post" class="py-3 px-2">
        <h1 class="text-center mb-4">Halaman checkout</h1>
        <div class="form-group">
            <label for="customer_email">Email</label>
            <input name="customer_email" id="customer_email" placeholder="Email" value="hajar.finnet@gmail.com"  class="form-control"/>
        </div>
        <div class="form-group">
            <label for="customer_first_name">First name</label>
            <input name="customer_first_name" id="customer_first_name" placeholder="First name" value="Hajar" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="customer_last_name">Last name</label>
            <input name="customer_last_name" id="customer_last_name" placeholder="Last name" value="Ismail" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="customer_mobile_phone">Phone number</label>
            <input name="customer_mobile_phone" id="customer_mobile_phone" placeholder="Phone number" value="+6281286288844" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" placeholder="Amount" value="1000" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input name="description" id="description" placeholder="Deskripsi" value="Testing" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="payment_method">Payment method</label>
            <select name="payment_method" id="payment_method" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="surcharge_amount">Surcharge</label>
            <input type="number" name="surcharge_amount" id="surcharge_amount" readonly value="3500" class="form-control" />
        </div>
        <div class="form-group">
            <label for="total_amount">Total price</label>
            <input type="number" name="total_amount" id="total_amount" readonly value="4500" class="form-control" />
        </div>
        <button class="btn btn-success">Submit</button>
    </form>
    <script>
        const paymentMethods = JSON.parse('{{payment_methods}}'.replaceAll('&#34;', '"'))

        const allBanksNames = paymentMethods.reduce((accumulator, currentValue) => {
            const bank = currentValue.banks.map(bank => ({name: bank.name, code: bank.code}))
            return accumulator.concat(bank)
        }, [])

        document.querySelector('#payment_method').innerHTML = allBanksNames.reduce((accumulator, currentValue) => accumulator + `<option value="${currentValue.code}">${currentValue.name}</option>`, '')

        function calcTotalAmount() {
            const surchargeAmountHTML = document.querySelector('#surcharge_amount')
            const totalAmountHTML = document.querySelector('#total_amount')
            const amount = document.querySelector('#amount').value
            const selectedBankCode = document.querySelector('#payment_method').value

            let surchargeAmount = 0
            paymentMethods.map(type => {
                const bankObject = type.banks.filter(bank => bank.code === selectedBankCode)
                if (bankObject.length > 0) {
                    surchargeAmount = (parseInt(amount) * (bankObject[0].surcharge_percentage || 0)) + bankObject[0].surcharge
                }
            }, '')
            totalAmountHTML.value = parseInt(amount) + surchargeAmount
            surchargeAmountHTML.value = parseInt(surchargeAmount)
        }

        document.querySelector('#payment_method').addEventListener('change', calcTotalAmount)
        document.querySelector('#amount').addEventListener('change', calcTotalAmount)
        calcTotalAmount()
    </script>
</body>
</html>